body{
		background-color:#F3F3FA;
		margin-left: 20%;
		margin-right: 20%;
		font-family:"宋体";
		font-size:large;
		line-height:1.5em;
		  }
h1{
		font-size:150%;
		font-family:"黑体";
		color:#46A3FF;
		border-bottom:1px solid black;
		  }
h2{
		color:#84C1FF;
		font-size:120%;
		font-family:"黑体";
		text-decoration:underline;
		  }
em{
		font-weight:bold;
		color:#FF95CA;
}